.blogs{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.blog-container{
    margin-top: 37px;
    display: grid;
    grid-template-columns: 1fr;
    width: 845px;
    height: 821px;
    border: 1px solid gainsboro;
    border-radius: 8px;

}