.timeCart {
    width: 411px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #6047EC;
    background: rgba(96, 71, 236, 0.10);
    margin-top: 37px;
}

.timeCart h3 {
    color: #6047EC;
    font-family: Exo 2;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    margin-left: 10px;
    /* 38.4px */
}